<h2>Feedback</h2>
<form action="/process-feedback" method="post">
<h3>Do you feel good?</h3>
  <div class="form-check">
    <input name="inputFeedback" type="radio" class="form-check-input-yes" id="yes" value="yes">
    <label class="form-check-label" for="yes">YES</label>
  </div>
  <div class="form-check">
    <input name="inputFeedback" type="radio" class="form-check-input-no" id="no" value="no">
    <label class="form-check-label" for="no">NO</label>
  </div>
    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>