<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Layout</title>
</head>
<body>
    <h1>No Layout</h1>
    <p>We're not using a layout file, so all HTML is in the view!</p>
</body>
</html>